<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>Bienvenido a ZaragozaSec CTF</h1>
  <p>Pronto se habilitará la zona de retos.</p>
</body>
</html>

